<!DOCTYPE html>
<html>
  <head>
   <title><%= title %> - Vampire</title>
        <link href="stylesheets/main.css" rel="stylesheet"/>
        <%-scripts%>
        <%-stylesheets%>
  </head>
  <body>
     <div id="wrapper">
      <header>
        <div id="logo"><a href="#"><i>front</i>-end</a></div>
        
      </header>
      <nav>
        <ul>
          <li class="curr-page"><a href="">首页</a></li>
          <li><a href="">最新blog</a>></li>
          <li><a href="">最热blog</a></li>
          <li><a href="">联系我们</a></li>
        </ul>
      </nav>
      <section class="clearfix">
        <%- body -%>
      </section>
      <footer>
        <div class="foot-main">
          <div class="wrap-cube">
            <div class="cube">
              <div class="front"><img src="images/p2.jpg" width="60px" height="60px"></div>
              <div class="back"><img src="images/p3.jpg" width="60px" height="60px"></div>
              <div class="top"></div>
              <div class="bottom"></div>
              <div class="left"><img src="images/p4.jpg" width="60px" height="60px"></div>
              <div class="right"><img src="images/p5.jpg" width="60px" height="60px"></div>
            </div>
          </div>  
        </div>
      </footer>
    </div>          
    <script src="/javascripts/jquery.js"></script>
</body>

</html>