<% layout('layout') -%>
<% script('javascripts/test.js')%>
<% stylesheet('stylesheets/test.css') -%>
  <p class="tile">最新<i>Blog</i></p>
  <div id="latest-blog">
    <div class="latest-item">
      <a href="#"><img src="images/2.jpg"></a>
      <div class="item-info">
        <h3>blog</h3>
        <h4><a href="">前端异步解决方案——mmDeferred</a></h4>
        <p>2013-08-30 10:44 <a href="http://www.cnblogs.com/rubylouvre/">司徒正美</a></p>
      </div>
    </div>
    <div class="latest-item">
      <a href="#"><img src="images/1.jpg"></a>
      <div class="item-info">
        <h3>blog</h3>
        <h4><a href="">将字符实体引用转换成 Unicode 字符</a></h4>
        <p>2011-10-18 下午 <a href="http://www.planabc.net/">怿飞（圆心）</a></p>
      </div>
    </div>
    <div class="latest-item">
      <a href="#"><img src="images/3.jpg"></a>
      <div class="item-info">
        <h3>blog</h3>
        <h4><a href="">积累代码 vs. 积累经验</a></h4>
        <p>2013-07-08  <a href="http://hikejun.com/blog">kejun</a></p>
      </div>
    </div>
    <div class="latest-item">
      <a href="#"><img src="images/1.jpg"></a>
      <div class="item-info">
        <h3>blog</h3>
        <h4><a href="">将字符实体引用转换成 Unicode 字符</a></h4>
        <p>2011-10-18 下午 <a href="">怿飞（圆心）</a></p>
      </div>
    </div>
    <div class="latest-item">
      <a href="#"><img src="images/1.jpg"></a>
      <div class="item-info">
        <h3>blog</h3>
        <h4><a href="">将字符实体引用转换成 Unicode 字符</a></h4>
        <p>2011-10-18 下午 <a href="">怿飞（圆心）</a></p>
      </div>
    </div>
    <div class="latest-item">
      <a href="#"><img src="images/1.jpg"></a>
      <div class="item-info">
        <h3>blog</h3>
        <h4><a href="">将字符实体引用转换成 Unicode 字符</a></h4>
        <p>2011-10-18 下午 <a href="">怿飞（圆心）</a></p>
      </div>
    </div>
  </div>

